{% extends 'base.html' %}

{% block content %}

	{% if messages %}
	<div class="col-md-3 ml-auto">
		<div class="alert alert-success alert-dismissible fade show text-center" role="alert">
			{% for message in messages %}
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
	    		{{ message }}
	    	{% endfor %}
		</div>
	</div>
	{% endif %}

	{% if user.is_authenticated%}
		
		<div class="col-md-6 offset-3">
			<div class="jumbotron jumbotron-fluid text-center">
			  <div class="container">
			    <h1 class="display-4">Welcome to Portal {{user.username}}</h1>
			    <h3>Your details:</h3>
				<p>{{user.username}}</p>
				<p>{{user.first_name}} {{user.last_name}}</p>
				<p>{{user.email}}</p>
			  </div>
			</div>
			<div class="row">
				<form method="GET" action="{% url 'home'%}">
					generate a unique token randomly
					<button name="generate" type="submit" class="btn btn-sm btn-success">generate</button>
				</form>
				 {{unique_token}}
			</div>
		</div>

	{%else %}
		<div class="col-md-6 offset-3">
			<div class="jumbotron jumbotron-fluid text-center">
			  <div class="container">
			    <h1 class="display-4">Welcome to Portal</h1>
			    <p class="lead">Sign up for a demo account <a href="{% url 'register'%}">Here</a> or <a href="{% url 'login' %}">Login</a></p>
			  </div>
			</div>
		</div>
	{% endif %}

{% endblock %}